<div class="news">
  <h2>education</h2>
  {% if site.education  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
      {% assign educations = site.education | reverse %}
      {% for item in educations limit: site.news_limit %}
        <tr>
          <th scope="row">{{ item.date | date: "%b, %Y" }}</th>
          <td>
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No educations so far...</p>
  {% endif %}
</div>
